@color : #e6e6e6;

.navbar-default {
	background-color : #4d4d4d;
	padding:0;
}

#main-nav {
	ul {
		li {
			> a {
				color:@color;
				display:block;				
				font-weight:300;
				width:100%;
			}
		}

		li.active {
			a {
				background-color: #e98325;
				border-color:#c46814;
				color:#fff;
			}
		}
	}
}